.profile-page-v2 {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.rows-wrap {
  position: relative;
  z-index: 2;
  margin-top: -90px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .rows-wrap {
    margin-top: -40px;
  }
}
